body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(10\ code.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  
      
}
.key{
   
    display:flex;
    justify-content: center;
     text-align: center;
    height: 79vh; 
    flex-direction: column;
    margin: 0;
}

.header .logo{
    font-size: 1.3rem;
    font-weight: bold;
}

.header{
    display:flex;
    background-color: #00296b;
  color: #fff;
  padding: 1rem;
  justify-content: space-between;
  
}


nav {
    background-color: none;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    font-weight: bolder;
    font-size: medium;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 5px;
}
nav a:hover {
    background-color: #b30909;
    border-radius: 25px;
}



.submit-btn{
    text-decoration:none ;
    padding:12 86px;
    border-radius: 16px;
    background-color: rgb(253, 95, 55);
   font-weight: bolder;
}

input{
   background-color: rgb(119, 200, 231);
    padding: 7 40px;
}

.hidden {
    display: none;
}

.me-btn{
    padding: 10px 27px;
    text-decoration: none;
    background-color: #927b77;
    border-radius: 16px;
    margin-right: 10%;
   margin-left:23% ;
   display: inline-block;
   font-weight: bolder;
   
}

label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: large;
    
    display: block;
    margin-right: 200px;
    
}

h2{
    font-size: xx-large;
}

.name{
    font-size: large;
    font-weight: bolder;
}


.number{
   font-size: large;
    font-weight: bolder;
}

h1{
    color:white;
}

